@import 'mixins';

@font-face {
  font-family: RedHat;
  src: url(../fonts/redhat/RedHatDisplay-Regular.woff2) format('woff2'),
    url(../fonts/redhat/RedHatDisplay-Regular.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: RedHat;
  src: url(../fonts/redhat/RedHatDisplay-Medium.woff2) format('woff2'),
    url(../fonts/redhat/RedHatDisplay-Medium.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RedHat;
  src: url(../fonts/redhat/RedHatDisplay-Bold.woff2) format('woff2'),
    url(../fonts/redhat/RedHatDisplay-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: RedHat;
  src: url(../fonts/redhat/RedHatDisplay-Black.woff2) format('woff2'),
    url(../fonts/redhat/RedHatDisplay-Black.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  src: url(../fonts/dmsans/DMSans-Bold.woff2) format('woff2'),
    url(../fonts/dmsans/DMSans-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  src: url(../fonts/dmsans/DMSans-Regular.woff2) format('woff2'),
    url(../fonts/dmsans/DMSans-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  src: url(../fonts/dmsans/DMSans-Medium.woff2) format('woff2'),
    url(../fonts/dmsans/DMSans-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}
.errmsg{
  color:red;
  text-align: center;
  display: block;
}
/*annimated Loader*/ 
.center_spinner{
  position:relative;
  font-size: 34px;
  padding:60px 0;
  #main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .spinner {
    position: relative;
  }
  .spinner:before, .spinner:after {
    content: "";
    position: relative;
    display: block;
  }
  .spinner:before {
    animation: spinner 2s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    width: 1em;
    height: 1em;
    background-color: #fff;
    background:hsl(2, 63%, 37%);
  }
  .spinner:after {
    animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    bottom: -.5em;
    height: .25em;
    border-radius: 50%;
    background-color: rgba(#000,0.2);
  }
  
  @keyframes spinner {
    50% {
      border-radius: 50%;
      transform: scale(0.5) rotate(360deg);
    }
    100% {
      transform: scale(1) rotate(720deg);
    }
  }
  @keyframes shadow {
    50% {
      transform: scale(0.5);
      background-color: rgba(#000,0.1);
    }
  }
}


.grid {
  display: -moz-grid;
  display: grid;
}

.flex {
  display: -webkit-flex;
  display: flex;
}

.app_ul {
  padding-left: 0;
  list-style-type: none;
  @extend .flex;
  justify-content: space-around;

  li {
    a {
      // display: inline-block;
      @extend .flex;
    }

    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: flex-end;

    svg,
    img {
      height: 40px;
      max-width: 132px;
      height: 35px;
      max-width: 115px;
    }
  }
}

body {
  font-family: 'DMSans', sans-serif;
  margin: 0;
  padding: 0;
  background: hsl(190, 48%, 100%);
  color: hsl(190, 28%, 18%);
  line-height: 1.4;
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'RedHat', sans-serif;
  margin-top: 1rem;
}
p{
  margin-top: 1rem;
}
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

@media (min-width: 576px) {
  .section_container {
    max-width: 540px;
  }
}

@media (min-width: 640px) {
  .cart_section_container {
    max-width: 680px;
  }
}

@media (min-width: 768px) {
  .section_container {
    max-width: 720px;
  }
}

@media (min-width: 932px) {
  .cart_section_container {
    max-width: 880px;
  }
}

@media (min-width: 992px) {
  .section_container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .section_container {
    max-width: 1140px;
  }
}

@media (min-width: 1600px) {
  .section_container {
    max-width: 1250px;
  }
}

.section_container {
  margin: 0 auto;
}

.device {
  position: sticky;
  top: 0;
  background: hsla(333, 38%, 100%, .9);
  z-index: 999;

  .flex_ {
    @extend .flex;
  }
  ol, ul, dl {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
  .container_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo_container {
      @extend .grid;
      align-content: center;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }

        img {
          max-width: 168px;
          height: 34px;
          object-fit: contain;
        }
      }
    }

    .open-main-nav {
      display: none;
    }
  }
}

.main-nav {

  // min-width:50%;
  .mobile_app_ {
    display: none;
  }

  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

    li {
      padding: 10px 30px;
      padding: 15px 30px;

      a {
        padding: 0;
        color: #77695A;
        position: relative;
        padding: 5px 2px;

        &:after {
          position: absolute;
          content: "";
          width: 0%;
          left: 0;
          bottom: 0;
          @include transition(all 0.35s);
          @include border(1px solid transparent);

        }

        &:hover {
          &:after {
            position: absolute;
            content: "";
            width: 60%;
            right: 0;
            left: 0;
            bottom: 0;
            @include transition(all 0.2s);
            @include border(1px solid #77695A);
          }

        }

        &.active_nav {
          color: #6F1C19;
          font-weight: bold;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
  position: absolute;
  top: 15px;
  padding-top: 15px;
  right: 50px;
  z-index: 1000;
  background: none;
  border: 0;
  cursor: pointer;
}

.open-main-nav:focus {
  outline: none;
}

.burger {
  position: relative;
  display: block;
  width: 28px;
  height: 4px;
  margin: 0 auto;
  background: hsl(190, 40%, 40%);
  background: hsl(333, 50%, 40%);
  background: hsl(2, 63%, 27%);
  transform: skew(5deg);
  transition: all .275s;
}

.burger:after,
.burger:before {
  content: '';
  display: block;
  height: 100%;
  background: hsl(333, 50%, 40%);
  background: hsl(2, 63%, 27%);
  transition: all .275s;
}

.burger:after {
  transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
  transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
  transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

/* MENU Text part */

.burger-text {
  display: block;
  font-size: .675rem;
  letter-spacing: .05em;
  margin-top: .5em;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: hsl(333, 50%, 40%);
  color: hsl(2, 63%, 27%);

}

.is-open {
  .burger-text {
    color: hsl(333, 50%, 99.7%);
  }

  .burger:before,
  .burger {
    background: hsl(333, 50%, 90.7%);
  }
}

@media only screen and (max-width:991px) {
  .open-main-nav {
    display: inline-block !important;
  }

  .device {
    .container_nav {
      position: relative;
      justify-content: normal;
      padding-top: 10px;
      padding-bottom: 10px;

      .logo_container {
        left: 50px;
        position: relative;
        padding-top: 10px;
        padding-bottom: 5px;

        a img {
          max-width: 168px;
          height: 26px;
        }
      }

      .main-nav {
        position: absolute;
        width: 100%;
        visibility: hidden;
        top: 0;
        text-align: center;

        .mobile_app_ {
          display: block;

          a {
            display: inline-block;
            margin: 0 15px;

            svg,
            img {
              height: 40px;
              width: 130px;
            }
          }
        }

        ul {
          visibility: hidden;
          opacity: 0;
          @include transform (translateY(-50px));
          @include transition(all 0.35s);
          display: block;
          padding-left: 0;
          padding-top: 60px;

          li {
            padding: 15px 30px;

            a {
              padding: 0;
              color: hsl(333, 60%, 99.7%);
              position: relative;
              padding-top: 8px;
              padding-bottom: 8px;

              &:before {
                position: absolute;
                content: "";
                width: 0%;
                left: 0;
                top: 0;
                @include border(1px solid transparent);
                @include transition(all 0.35s);
              }

              &:after {
                position: absolute;
                content: "";
                width: 0%;
                right: 0;
                left: auto;
                bottom: 0;
                @include transition(all 0.35s);
                @include border(1px solid transparent);

              }

              &:hover {
                &:before {
                  position: absolute;
                  content: "";
                  width: 40%;
                  left: 0;
                  top: 0;
                  @include transition(all 0.35s);
                  @include border(1px solid hsl(333, 80%, 47%));
                }

                &:after {
                  position: absolute;
                  content: "";
                  width: 40%;
                  right: 0;
                  bottom: 0;
                  @include transition(all 0.35s);
                  @include border(1px solid hsl(333, 80%, 47%));
                }

              }

              &.active_nav {
                &:before {
                  position: absolute;
                  content: "";
                  width: 40%;
                  left: 0;
                  top: 0;
                  @include border(1px solid hsl(333, 80%, 47%));
                  @include border(1px solid hsl(2, 63%, 27%));
                }

                &:after {
                  position: absolute;
                  content: "";
                  width: 40%;
                  right: 0;
                  bottom: 0;
                  @include border(1px solid hsl(333, 80%, 47%));
                  @include border(1px solid hsl(2, 63%, 27%));
                }
              }
            }
          }
        }

        &.is-activated {
          position: absolute;
          width: 100%;
          visibility: visible;
          height: 100vh;
          top: 0;
          text-align: center;
          display: -moz-grid;
          display: grid;
          align-content: center;
          background: hsla(333, 50%, 10%, 0.95);
          background: hsla(2, 63%, 10%,0.95);


          ul {
            @include transition(all 0.35s);
            visibility: visible;
            display: block;
            opacity: 1;
            @include transform (translateY(0));
            padding-left: 0;
            padding-top: 60px;

            li {
              &:nth-child(1) a {
                transition: all 275ms 175ms
              }

              &:nth-child(2) a {
                transition: all 275ms 225ms
              }

              &:nth-child(3) a {
                transition: all 275ms 275ms
              }

              &:nth-child(4) a {
                transition: all 275ms 325ms
              }

              &:nth-child(5) a {
                transition: all 275ms 375ms
              }

              &:nth-child(6) a {
                transition: all 275ms 425ms
              }

              padding:15px 30px;

              a {
                padding: 0;
                color: hsl(333, 60%, 99.7%);
                position: relative;
                padding-top: 8px;
                padding-bottom: 8px;

                &:before {
                  position: absolute;
                  content: "";
                  width: 0%;
                  left: 0;
                  top: 0;
                  @include border(1px solid transparent);
                  @include transition(all 0.35s);
                }

                &:after {
                  position: absolute;
                  content: "";
                  width: 0%;
                  right: 0;
                  bottom: 0;
                  @include transition(all 0.35s);
                  @include border(1px solid transparent);

                }

                &:hover {
                  &:before {
                    position: absolute;
                    content: "";
                    width: 40%;
                    left: 0;
                    top: 0;
                    @include transition(all 0.35s);
                    @include border(1px solid hsl(333, 80%, 47%));
                  }

                  &:after {
                    position: absolute;
                    content: "";
                    width: 40%;
                    right: 0;
                    bottom: 0;
                    @include transition(all 0.35s);
                    @include border(1px solid hsl(333, 80%, 47%));
                  }

                }

                &.active_nav {
                  &:before {
                    position: absolute;
                    content: "";
                    width: 40%;
                    left: 0;
                    top: 0;
                    @include border(1px solid hsl(333, 80%, 47%));
                  }

                  &:after {
                    position: absolute;
                    content: "";
                    width: 40%;
                    right: 0;
                    bottom: 0;
                    @include border(1px solid hsl(333, 80%, 47%));
                  }
                }
              }
            }
          }
        }
      }

      .app_ul {
        display: none;
      }
    }
  }
}

@media only screen and (max-width:475px) {
  .device {
    .container_nav {
      .logo_container {
        left: 20px;
      }

      .open-main-nav {
        right: 20px;
      }
    }
  }
}

/*hero section*/
.hero_bg {
  background: url("../images/bg/hero_bg.svg") no-repeat;
  min-height: 70vh;
  background-size: cover;
  background-position: 0 0;
  @extend .grid;
  &.partners{
    padding-top: 120px;
    padding-bottom: 200px;
    margin-bottom: 150px;
    margin-bottom: 100px;

   .hero_grid{
    padding-top: 0px;
   }
  }
  .hero_grid {
    @extend .grid;
    align-content: center;
    grid-template-columns: minmax(560px, 1fr) 1fr;
    padding: 60px 0;

    .hero_title {
      @extend .grid;
      align-content: center;

      h2 {
        // font-family: RedHat;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 60px;
        max-width: 556px;
        margin-bottom: 0;
        color: #202020;

        span {
          display: block;
        }
      }

      p {
        span {
          display: block;
        }

        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 29px;

        color: #202020;
      }

      .app_link {
        a {
          display: inline-block;

          &:first-of-type {
            margin-right: 15px;
          }

          @include transition(all 0.25s);

          &:last-of-type {
            margin-left: 15px;
          }

          img {
            height: 51px;
            @include transition(all 0.25s);
            width: 164px;
          }

          &:hover {
            position: relative;
            top: 1px;
            @include transition(all 0.25s);

            img {
              @include transition(all 0.25s);
              @include box-shadow(0px 4px 6px 4px hsla(30, 14%, 16%, 0.12));
              @include border-radius(4px);
            }
          }
        }
      }
    }

    .mh_app_container {
      text-align: right;
    }
    /*partner's page*/ 
    &.partner_form_grid{
      grid-template-columns: minmax(457px, 1fr) 450px;
      grid-template-columns: minmax(457px, 1fr) 500px;
      column-gap: 200px;
      .hero_title{
        max-width: 456px;
        p{
          line-height: 29px;
        }
      }
      .hero_main_con{
        width: 100%;
      }
    }
  }
  .partner_form{
    position: relative;
    form{
      background: #fff;
      @include border(1px solid rgba(0, 0, 0, 0.1));
      box-sizing: border-box;
      @include box-shadow (0px 6px 8px rgba(0, 0, 0, 0.1));
      padding: 30px;
      @include border-radius(5px);
      z-index: 1;
      position: absolute;
      .form_header{
        padding-bottom: 1rem;
        p{
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: #202020;
          line-height: 21px;
        }
        h4{
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 32px;
          color: #202020;
        }
      }
      .ant-input-affix-wrapper{
        padding: 8px 10px;
        @include border-radius(5px);
        @include transition(all 0.3s);
        height:43px;
        @include border(1px solid hsla(240, 5%, 48%,0.3));
        &.ant-input-affix-wrapper-focused{
          @include transition(all 0.3s);
          @include border(1px solid hsla(2, 63%, 27%,0.5));
          @include outline(none);
          @include box-shadow(none);
        }
        input{
          font-size: 12px;
          &::placeholder{
            color:#87878E;
          }
        }
      }
      .form_group{
        display: block;
        margin-bottom: 1rem;
        textarea{
          width: 100%;
          padding: 8px 10px;
          @include border-radius(5px);
          @include border(1px solid hsla(240, 5%, 48%,0.3));
          @include transition(all 0.3s);
          font-size: 12px;
          min-height:43px;
          min-height:35px;
          max-height:130px;
          &::placeholder{
            color:#87878E;
          }
          &:focus{
            @include transition(all 0.3s);
            @include border(1px solid hsla(2, 63%, 27%,0.5));
            @include outline(none);
            @include box-shadow(none);
          }
        }
        input{
          height:48px;
          height:43px;
          width: 100%;
          padding: 8px 10px;
          @include border-radius(5px);
          @include border(1px solid hsla(240, 5%, 48%,0.3));
          @include transition(all 0.3s);
          font-size: 12px;
          &::placeholder{
            color:#87878E;
          }
          &:focus{
            @include transition(all 0.3s);
            @include border(1px solid hsla(2, 63%, 27%,0.5));
            @include outline(none);
            @include box-shadow(none);
          }
        }
      }
      button{
        width: 100%;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        box-sizing:border-box;
        padding: 15px;
        background: linear-gradient(0deg, #6F1C19, #6F1C19), #202020;
        background: hsl(2, 63%, 27%);
        @include border(1px solid  hsl(2, 63%, 27%));
        @include border-radius(5px);
        color: #fff;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
        @include transition(all 0.3s);
        &:hover{
          background: hsl(2, 63%, 20%);
          @include transition(all 0.3s);
        }
        &:focus{
          @include transition(all 0.3s);
          @include border(1px solid hsla(2, 63%, 27%,0.5));
          @include outline(none);
          @include box-shadow(none);
        }
      }
    }
  }
}
// 1px solid #9B9B9B;
/*faq section */
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow svg{
  width: 16px;
  height: 16px;
  fill:#6F1C19;
}
.faq_container{
  padding-top: 70px;
  padding-bottom: 80px;
  .ant-collapse{
    background: none;
    @include border(none);
    .ant-collapse-item{
      margin-bottom: 20px;
      @include border( 1px solid #9B9B9B);
      @include border-radius(5px);
    .ant-collapse-header{
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      font-size: 20px;
      font-size: 18px;
      line-height: 29px;
      color: #202020;
      padding-top: 14px;
      padding-bottom: 14px;
      background: hsl(0, 0%, 99%);
      @include border-radius(5px);
      z-index: 0;
    }
    &.ant-collapse-item-active{
      .ant-collapse-header{
        @include border-radius(5px 5px 0 0);
      }
    }
    .ant-collapse-content{
      @include border-top(1px solid  hsl(0, 0%, 90%));
      @include border-radius( 0 0 5px 5px);

      .ant-collapse-content-box{
        p{
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 21px;
          color: #000000;
          color: #666666;
          margin: .5rem 0;
        }
      }
    }
  }
  }
  
}
/*become a partner section*/ 
.become_partner_bg{
  background: #CFA983;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  .svg_container{
    max-width:220px;
    margin: auto;
    svg{
      width: 100%;
    }
  }
  p{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    color: #202020;
    margin-top: 0.5rem;
  }
  a{
    font-style: normal;
    font-weight: bold;
    margin-top: 1rem;
    display: inline-block;
    font-size: 16px;
    line-height: 21px;
    padding: 10px 45px;
    background: hsl(2, 63%, 27%);
    color: #FFFFFF;
    @include border-radius(5px);
    @include transition(all 0.3s);
    &:hover{
      background: hsl(2, 63%, 20%);
      @include transition(all 0.3s);
    }
    &:focus{
      @include transition(all 0.3s);
      @include border(1px solid hsla(2, 63%, 27%,0.5));
      @include outline(none);
      @include box-shadow(none);
    }
  }
}
/*how it works*/
.how_it_works {
  padding-top: 80px;
  padding-bottom: 80px;

  .how_it_works_top {
    text-align: center;
    padding-bottom: 20px;

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 32px;
      color: #9B9B9B;
      max-width: 838px;
      margin: 0 auto;
      margin-bottom: 1rem;
    }

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 48px;
      color: #202020;
    }
  }

  .steps_container {
    @extend .flex;
    padding-top: 20px;

    &.second_ {
      justify-content: flex-end;
    }

    .svg_arrow {
      @extend .flex;
      align-items: flex-end;
      &.right_{
        margin-left: 38px;
      }
      &.left_{
        margin-right: 38px;
      }
    }

    .steps_item {
      @extend .flex;
      align-items: center;
      .svg_container{
        img,svg{
          max-width: 427px;
        }
      }
      ._body {
        max-width: 320px;
        margin: 40px;

        h4 {
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          line-height: 29px;
          color: #202020;
          margin-bottom: 0;
        }

        p {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          color: #747474;
        }
      }
    }
  }
}
/*About us section*/ 
.about{
  // overflow-y: hidden;
  .hero_bg{
    background: url("../images/bg/about-bg.svg") no-repeat;
    min-height: 20vh;
    background-size: cover;
    background-position: 0 0;
    padding-left: 180px;
    .about_hero_grid{
      @extend .grid;
      grid-template-columns: 1fr 587px;
      .hero_title{
        @extend .grid;
        align-content: center;
        h4{
          font-style: normal;
          font-weight: bold;
          font-size: 45px;
          line-height: 60px;
          color:#fff;
          margin-bottom: 0;
          margin-top: 0;
        }
        p{
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          margin-bottom: 0;
          margin-top: 0;
          line-height: 29px;
          color: #EDE3D9;
        }
      }
    }
  }
}
.hero_decription_{
  p{
    max-width: 864px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
// }linear-gradient(0deg, #F2F1EF, #F2F1EF), linear-gradient(0deg, #F9EDE2, #F9EDE2), #B3B9C0
.mission_bg{
  background: #F2F1EF;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  h4{
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 41px;
    color: #202020;
    margin: 0;
  }
  p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #3E3E3E;
    margin: 1rem auto;
    max-width: 900px;
  }
}
.process_bg{
  background: url("../images/bg/process_bg.png") no-repeat;
  background-size: 330px 500px;
  background-position: right;
  background-attachment: fixed;
  position: relative;
  .process_container{
    padding-top: 80px;
    padding-bottom: 80px;
    h4{
      font-style: normal;
      font-weight: 300;
      font-size: 31px;
      line-height: 41px;
      color: #202020;
      padding-bottom: 1rem;
    }
    .process_body{
      @extend .grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
      .process_item{
        max-width: 337px;
        .item_container{
         
          h4{
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 29px;
            color: #202020;
          }
          p{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
            color: #3E3E3E;
          }
        }
      }
    }
  }
}
.app_underline{
   @include border-top(1px solid #CDCDCD);
    @include border-bottom(1px solid #CDCDCD);
}
.app_container{
  @extend .grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
 padding-top: 80px;
 padding-bottom: 80px;
  .description{
    @extend .grid;
    justify-content: center;
    p{
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: #3E3E3E;
    }
    .download{
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      margin: 0;
      margin-top: .5rem;
      line-height: 29px;
      color: #202020;
    }
  }
  .download_links{ 
    @extend .flex;
    height: auto;
    @include transition(all 0.25s);
    align-items: center;
    justify-content: center;
    a{
      max-width: 125px;
      &:nth-of-type(1){
        margin-right: 15px;
      }
      &:nth-of-type(2){
        margin-left: 15px;
      }
      img {
        @include transition(all 0.25s);
      }

      &:hover {
        position: relative;
        top: 1px;
        @include transition(all 0.25s);

        img {
          @include transition(all 0.25s);
          @include box-shadow(0px 4px 6px 4px hsla(30, 14%, 16%, 0.12));
          @include border-radius(4px);
        }
      }
    }
  }
}
.product_section{
  padding-top: 80px;
  padding-bottom: 80px;
  .product_section_title{
    text-align: center;
    max-width: 1140px;
    max-width: 900px;
    margin: auto;
    h4{
      font-style: normal;
      font-weight: bold;
      font-size: 31px;
      line-height: 41px;
      color: #202020;
      margin-top: 0;
    }
    p{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      text-align: center;
      color: #3E3E3E;
    }
  }
  .product_lists{
    @extend .grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    max-width: 991px;
    margin: auto;
    padding-top: 40px;
    h4{
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      font-size: 20px;
      line-height: 29px;
      color: #202020;
      margin-bottom: 0;
      margin-top: 1.5rem;
    }
    p{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #3E3E3E;
      margin-top: 0.5rem;
    }
  }
}
/*why meathub */
.why_mh_bg {
  padding: 40px 0;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #F9F9F9, #F9F9F9);

  .slick-dots li {
    &.slick-active {
      button {
        &:before {
          color: hsl(30, 44%, 46%);
        }
      }
    }

  }

  .section_container {
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 48px;
      text-align: center;
      color: #202020;
      padding-bottom: 20px;
    }

    ._slider {
      .slick-list {
        padding-bottom: 24px;
      }

      .slider_item_cont {
        padding: 15px;
        padding-top: 20px;
        height: 100%;

        // padding: 10px;
        &:focus {
          @include box-shadow(none);
          @include outline(none);

        }

        .slider_item {
          @include box-shadow(0px 10px 20px rgba(0, 0, 0, 0.07), 0px 6px 4px rgba(0, 0, 0, 0.02));
          background: #F9EDE2;
          @include border-radius(5px);
          padding: 0 20px 30px 20px;
          min-height: 294px;
          position: relative;
          img {
            height: 90px;
            width: 90px;
            position: absolute;
            top: -45px;
          }

          h4 {
            font-family: DMSans;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 29px;
            color: #202020;
            padding-top: 70px;
            margin-bottom: 0.6rem;
          }

          p {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            line-height: 25px;
            color: #4E4E4E;
            display: inline;
            text-decoration: none;
            // background-image: linear-gradient(to right, yellow 0, yellow 100%);
            background-position: 0 1.2em;
            background-size: 0 100%;
            background-repeat: no-repeat;
            @include transition ( background .8s);
           
          }
          &:hover{
            p{
              background-size: 100% 100%;
            background-image: linear-gradient(to right, hsl(29, 66%, 80%) 0, hsl(29, 66%, 80%) 100%);
            }
          }
        }
      }
    }
  }
}

/*App Download Section*/
.download_app {
  max-width: 840px;
  margin: 0 auto;
  background: linear-gradient(0deg, #F4F0EB, #F4F0EB);
  @include box-shadow(0px 6px 8px rgba(0, 0, 0, 0.1));
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 80px;
  margin-bottom: 80px;

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #202020;
    margin-top: 0.3rem;
    margin-bottom: 0;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    color: #4E4E4E;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .app_link {
    a {
      display: inline-block;

      &:first-of-type {
        margin-right: 15px;
      }

      @include transition(all 0.25s);

      &:last-of-type {
        margin-left: 15px;
      }

      img {
        @include transition(all 0.25s);
      }

      &:hover {
        position: relative;
        top: 1px;
        @include transition(all 0.25s);

        img {
          @include transition(all 0.25s);
          @include box-shadow(0px 4px 6px 4px hsla(30, 14%, 16%, 0.12));
          @include border-radius(4px);
        }
      }
    }
  }
}

/*footer*/
footer {
  background: linear-gradient(0deg, #DBCCBD, #DBCCBD), #CFA983;
  padding-left: 100px;

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #202020;
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .footer_grid {
    @extend .grid;
    padding-top: 40px;
    grid-template-columns: 200px 200px 230px 300px;

    .footer_item {
      h4 {
        font-family: DMSans;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
        color: #202020;
      }

      ul {
        padding-left: 0;
        list-style-type: none;

        li {
          padding-bottom: 5px;
          &:nth-of-type(1){
            a{
              &:hover{
                svg{
                  path{
                    fill:#3b5998;
                    @include transition(all 0.3s);
                  }
                }
              }
            }
          }
          &:nth-of-type(2){
            a{
              &:hover{
                svg{
                  path{
                    fill:#8D5524;
                    @include transition(all 0.3s);
                  }
                }
              }
            }
          }
          &:nth-of-type(3){
            a{
              &:hover{
                svg{
                  path{
                    fill:#00acee;
                    @include transition(all 0.3s);
                  }
                }
              }
            }
          }
          a {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
            color: #77695A;
            svg{
              path{
                @include transition(all 0.3s);
              }
            }
          }
        }
      }

      &:nth-of-type(3) {
        ul {
          li {
            display: inline-block;

            a {
              &:first-of-type {
                margin-left: 0;
              }

              margin-right: 15px;
              margin-left: 15px;

            }
          }
        }
      }

      .app_link {
        a {
          &:first-of-type {
            margin-right: 10px;
          }

          &:last-of-type {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
/*animation*/ 
@keyframes wheel1{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}
@keyframes lady_bike{
  from{
    transform: rotateX(0deg);
  }
  to{
    transform: rotateX(10deg);
  }
}
@keyframes lady_hair{
  from{
    transform: translateY(0%) rotateX(0deg);
  }
  to{
    transform: translateY(10%) rotateX(20deg);
  }
}
#lady_bike{
  transform-origin:bottom;
  animation: lady_bike 1s ease-in-out infinite alternate;
}
#lady_hair{
  transform-box: fill-box;
  transform-origin:center;
  animation: lady_hair 1s ease-in-out infinite alternate;
}
#tyer_2,#tyer_1_2{
  transform-origin:center;
  transform-box: fill-box;
  animation: wheel1 3s infinite linear;
}
//404 page

main {
  height: 100vh;
  width: 100vw;
  background: #fefefe;
  background: #fafafa;
  background: hsl(2, 63%, 99.5%);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
          svg{
            max-width: 400px;
            height: auto;
          }
}
main .errorText {
  font-size: 22px;
  margin: 0;
  &.text_error1{
    padding-top: 2.5rem;
    padding-bottom: .3rem;
  }
  &.text_error2{
    padding-top: 0;
    padding-bottom: 2rem;
  }
  span{
    display: inline-block;
    color: #fff;
    padding: 1px 8px;
    @include border-radius(4px);
    font-size: 20px;
    text-decoration: line-through;
    color:hsl(2, 63%, 20%);
    text-decoration-color: hsla(190, 48%, 100%,0.5);
  }
}
main #errorLink {
  font-size: 20px;
  padding: 5px 12px;
  @include border (1px solid hsl(2, 63%, 20%));
  color: hsl(2, 63%, 20%);
  @include border-radius(5px);
  background-color: transparent;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
main #errorLink:hover, main #errorLink:active {
  color: #fff;
  background: hsl(2, 63%, 20%);
}
main #g6219 {
  -webkit-transform-origin: 85px 4px;
          transform-origin: 85px 4px;
  -webkit-animation: an1 12s 0.5s infinite ease-out;
          animation: an1 12s 0.5s infinite ease-out;
}

@-webkit-keyframes an1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  5% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  15% {
    -webkit-transform: rotate(-2.5deg);
            transform: rotate(-2.5deg);
  }
  25% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  35% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
  }
  45% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  55% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
  }
  65% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  85% {
    -webkit-transform: rotate(2.5deg);
            transform: rotate(2.5deg);
  }
  95% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes an1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  5% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  15% {
    -webkit-transform: rotate(-2.5deg);
            transform: rotate(-2.5deg);
  }
  25% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  35% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
  }
  45% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  55% {
    -webkit-transform: rotate(-1.5deg);
            transform: rotate(-1.5deg);
  }
  65% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  85% {
    -webkit-transform: rotate(2.5deg);
            transform: rotate(2.5deg);
  }
  95% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

/*on successful reg */
.success_bg{
    background: #F4F5F9;
    background: hsl(2, 63%, 99.2%);
    .sucess_container{
      height: 100vh;
      @extend .grid;
      grid-template-columns: 1fr 1fr;
      .sucess_msg{
        @extend .grid;
        align-content: center;
        .content_{
          max-width: 380px;
          max-height: 200px;
          h2{
            font-style: normal;
            font-weight: bold;
            font-size: 31px;
            line-height: 41px;
            color: #202020;
          }
          .back_to_home{
            display: block;
            padding: 10px;
            text-align: center;
            font-weight: bold;
            @include border-radius(5px);
            margin-top: 10px;
            color:hsl(2, 63%, 97%);
            @include transition(all 0.25s);
            background: hsl(2, 63%, 27%);
            &:hover{
              color:hsl(2, 63%, 97%);
              background: hsl(2, 63%, 37%);
              @include transition(all 0.25s);
            }
            &:focus{
              @include border(none);
              @include outline(none);
              @include box-shadow(none);
            }
          }
          p{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #3E3E3E;
          }
        }
       
      }
      .svg{
        @extend .flex;
        align-content: flex-end;
        justify-content: flex-end;
        .svg_container{
          max-width: 380px;
          height: auto;
          svg{
            margin-top: 60px;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
}
  
/*media query starts*/
@media only screen and (max-width:1350px) {
  .process_bg{
    z-index: 10;
    overflow-x: hidden;
    &:before{
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      background: hsla(2, 63%, 99.8%, 0.8);
      z-index: -1;
    }
  }
  .hero_bg .hero_grid.partner_form_grid {
    grid-template-columns: minmax(457px, 1fr) 450px;
    column-gap: 150px;
  }
  .collapsible_con{
    max-width: 940px;
    margin: auto;
  }
}
  @media only screen and (max-width:1199px) {
    .about .hero_bg{
      padding-left: 120px;
      .about_hero_grid {
        grid-template-columns: 1fr 1fr;
    }
    }
    .hero_bg{
      .hero_grid{
        &.partner_form_grid{
          grid-template-columns: minmax(400px, 1fr) 423px;
          column-gap: 50px;
        }
        .hero_title h2 {
          font-size: 38px;
      }
      }
    }
  .why_mh_bg .section_container ._slider .slider_item_cont .slider_item{
    img {
      height: 70px;
      width: 70px;
      top: -35px;
    }
    h4{padding-top: 55px;}
  }
  .how_it_works .steps_container{
    .steps_item .svg_container{
      img, svg{
        max-width: 346px;
    }
    }
    .svg_arrow{
      &.left_ {
        margin-right: 0px;
      }
      &.right_ {
        margin-left: 0px;
      }
    }
  }
}
  @media only screen and (max-width:1140px) {
  footer {
    .footer_grid {
      grid-template-columns: repeat(3, 180px);

      .footer_item {
        &:nth-of-type(4) {
          grid-column: 1/3;
        }
      }
    }
  }
}

@media only screen and (max-width:991px) {
  .hero_decription_ p {
    text-align: center;
  }
  .success_bg .sucess_container{
    .sucess_msg .content_{
      max-width: 320px;
      h2 {
        font-size: 24px;
        line-height: 34px;
      }
      p{font-size: 15px;}
    }
    .svg .svg_container{
      max-width: 280px;
    }
  }
  .product_section .product_lists {
    column-gap: 30px;
  }
  .partner_container{
    .hero_bg{
      .section_container{
        max-width: 850px;
      }
      .hero_grid{
        &.partner_form_grid{
          grid-template-columns: minmax(357px, 1fr) 354px;
          column-gap: 60px;
          .hero_title {
            max-width: 388px;
        }
        }
        .hero_title h2 {
          font-size: 32px;
      }
      }
    }
}
  .how_it_works{
    .how_it_works_top{
      max-width: 500px;
      margin: auto;
      h2 {
        font-size: 28px;
        line-height: 28px;
      }
      p{
        font-size: 20px;
        line-height: 24px;
    
      }
    }
  }
  .why_mh_bg {
    .section_container{
      h2 {
        font-size: 28px;
        line-height: 28px;
      }
    }
  }
  .how_it_works .steps_container .svg_arrow{display: none;}
  .hero_bg .hero_grid {
    .hero_title {
      h2 {
        font-size: 32px;
        line-height: 44px;
      }

      p {
        font-size: 20px;
        line-height: 28px;
      }

      .app_link a {
        img {
          height: auto;
          width: 120px;
        }

        &:last-of-type {
          margin-left: 8px;
        }

        &:first-of-type {
          margin-right: 8px;
        }
      }
    }
  }

  .download_app {
    h2 {
      font-size: 28px;
      line-height: 28px;
    }

    p {
      font-size: 20px;
      line-height: 20px;
    }

    .app_link a {
      img {
        width: 120px;
      }

      &:last-of-type {
        margin-left: 10px;
      }

      &:first-of-type {
        margin-right: 10px;
      }
    }
  }
}

@media only screen and (max-width:850px) {
  .about .hero_bg{
    .about_hero_grid{
      .hero_title{
        h4 {
          font-size: 36px;
          line-height: 56px;
        }
        p{
          line-height: 20px;
          font-size: 20px;
        }
      }
    }
  }
  .partner_container{
    .hero_bg{
      &.partners{
        margin-bottom: 20px;
        padding-bottom: 100px;
        padding-top: 80px;
      }
      .partner_form{
        max-width: 430px;
        margin: auto;
        form{
          position: relative;
          .form_header{
            text-align: center;
            h4{line-height: 24px;}
          }

        }
      }
      .section_container{
        max-width: 720px;
      }
      .hero_grid{
        padding-bottom: 0;
        &.partner_form_grid{
          grid-template-columns: 1fr;
          row-gap: 20px;
          .hero_title {
            max-width: 488px;
            text-align: center;
        }
        }
        .hero_title h2 {
          font-size: 32px;
      }
      }
    }
}
}
  @media only screen and (max-width:767px) {

    .hero_decription_ p {
      padding-top: 60px;
      padding-bottom: 60px;
  }
    .app_container{
      grid-template-columns: 1fr;
      row-gap: 30px;
      padding-right: 10px;
      padding-left: 10px;
      .description{
        text-align: center;
        order:2;
        p{
          font-size: 14px;
          line-height: 14px;
        }
      }
      .download_links{
        order:1;
      }
    }
    .success_bg .sucess_container{
      grid-template-columns: 1fr;
      align-content: center;
      row-gap: 30px;
      padding-top: 40px;
      .sucess_msg{
        order:2;
        .content_{
         margin: auto;
         text-align: center;
        }
      }
      .svg {
        order:1;
        justify-content: center;
        .svg_container{
          svg{margin-top: 0;}
        }
      }
    }
    .product_section .product_lists {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 40px;
    }
    .partner_container{
      .hero_bg{
        &.partners{
          padding-top:60px;
        }
   
      }
    }
    .collapsible_con {
      max-width: 648px;
  }
  .how_it_works{
    // text-align: center;
    .steps_container{
      &.second_{
        ._body{
          order:2;
          text-align: right;
        }
        .svg_container{
          order:1;
          display: -webkit-flex;
          display: flex;
          justify-content: flex-end;
        }
      }
      .steps_item {
        display:-ms-grid;
        display:grid;
        ._body{
          margin-top: 0px;
        }
      }
    }
  }
  .hero_bg .hero_grid {
    align-content: center;
    grid-template-columns: minmax(300px, 1fr);

    .hero_title {
      text-align: center;
      padding-left: 8px;
      padding-right: 8px;
    }

    .mh_app_container {
      text-align: center;
      padding-top: 50px;
      max-width: 200px;
      height: auto;
      margin: auto;
    }
  }
}

@media only screen and (max-width:676px) {
  .product_section{
    padding-right: 20px;
    padding-left: 20px;
  }
  .how_it_works{
    padding-left: 20px;
    padding-right: 20px;
   
  }
  main{
    svg {
      max-width: 300px;
    }
    .errorText {
      font-size: 20px;
      text-align: center;
      max-width: 310px;
      margin: 0 auto;
      &.text_error2{
        font-size: 16px;
        span{font-size: 16px;}
      }
    }
  }
  footer {
    .footer_grid {
      grid-template-columns: repeat(2, 180px);

      .footer_item {
        &:nth-of-type(4) {
          grid-column: 2/3;

          .app_link {
            a {
              &:last-of-type {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
  .collapsible_con {
    max-width: 450px;
}
.process_bg,.mission_bg,.hero_decription_ p {
  padding-left: 15px;
  padding-right: 15px;
}
.about .hero_bg{
  padding-left: 50px;
  .about_hero_grid .hero_title{
    h4 {
      font-size: 32px;
      line-height: 40px;
    }
  }
}
}

@media only screen and (max-width:553px) {
  .about .hero_bg{
    .about_hero_grid{
      .img_relative{
        position: relative;
        overflow-x: hidden;
        img {
          max-width: initial;
          height: 100%;
          position: absolute;
        }
      }
    }
  }
}
  @media only screen and (max-width:545px) {
  .about .hero_bg{
    .about_hero_grid .hero_title{
      h4 {
        font-size: 28px;
        line-height: 36px;
      }
      p{
        font-size: 18px;
      }
    }
  }
  .process_bg .process_container{
    h4{
      font-size: 26px;
      line-height: 26px;
      padding-bottom: 0rem;
    }
    .process_body .process_item .item_container{
      h4 {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 0;
      }
    }
  }
  .product_section .product_lists {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
  .collapsible_con {
    max-width: 400px;
}
  .partner_container .hero_bg{
    .partner_form{
      max-width: 380px;
      padding-left: 8px;
      padding-right: 8px;
      form{
        .form_header h4{
          font-size: 20px;
          line-height: 18px;
        }
      }
    }
    .hero_grid .hero_title{
      padding-left: 10px;
      padding-right: 10px;
      h2 {
        font-size: 28px;
        line-height: 30px;
    }
    p{
      font-size: 18px;
      max-width: 310px;
      margin: auto;
      line-height: 24px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    }
  }
  footer {
    padding-left: 30px;
    padding-right: 30px;
  }

  .download_app {
    h2 {
      font-size: 22px;
      line-height: 20px;
    }

    p {
      font-size: 18px;
      line-height: 16px;
    }

    .app_link a {
      img {
        width: 100px;
      }

      &:last-of-type {
        margin-left: 6px;
      }

      &:first-of-type {
        margin-right: 6px;
      }
    }
  }
  .app_container{
    .description{
      .download{
        font-size: 20px;
      line-height: 20px;}
    }
  }
}

@media only screen and (max-width:500px) {
  .hero_decription_ p {
    padding-top: 50px;
    padding-bottom: 50px;
}
  .slick-prev, .slick-next {display:none !important}
  .hero_bg .hero_grid {
    .hero_title {
      h2 {
        font-size: 28px;
        line-height: 38px;
      }

      p {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }
  .mission_bg h4 {
    font-size: 26px;
    line-height: 30px;
  }
}

@media only screen and (max-width:425px) {
  .faq_container .ant-collapse .ant-collapse-item .ant-collapse-header {
    font-size: 20px;
    font-size: 16px;
    line-height: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow svg {
    width: 12px;
    height: 12px;
}
.faq_container .ant-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box p {
  font-size: 15px;
  line-height: 20px;
}
  .hero_bg .partner_form form{
    .form_group{
      margin-bottom: 0.6rem;
      input {
        height: 41px;
      }
    }
    button{
      padding: 12px;
      margin-top: 0.5rem;
    }
  }
  .become_partner_bg{
    .svg_container {
      max-width: 160px;
    }
  p{
    font-size: 18px;
    line-height: 22px;
    margin-top: 0rem;
    margin-bottom: 0.3rem;
    padding-right: 10px;
    padding-left: 10px;
  }
  a{
    font-size: 15px;
    line-height: 20px;
    padding: 10px 35px;
  }
  }
  .about .hero_bg{
    padding-left: 25px;
  }
  .product_section .product_lists{
    h4 {
      font-size: 18px;
      line-height: 18px;
    }
    p {
      line-height: 20px;
    }
  }
  main{
    svg {
      max-width: 250px;
    }
    .errorText {
      max-width: 300px;
    }
    #errorLink{
      font-size: 18px;
    }
  }
  .collapsible_con {
    max-width: 310px;
}
  .why_mh_bg {
    .section_container{
      h2 {
        font-size: 22px;
        line-height: 20px;
      }
    }
  }
  .how_it_works{
    .steps_container{
      .steps_item{
        ._body{
          text-align: center;
          h4 {
            font-size: 20px;
            line-height: 18px;
          }
        }
      }
    }
    .how_it_works_top{
      h2 {
        font-size: 22px;
        line-height: 20px;
      }
      p{
        font-size: 17px; 
        line-height: 22px;   
      }
    }
  }
  
  footer {
    padding-left: 20px;
    padding-right: 20px;

    .footer_grid {
      grid-template-columns: repeat(2, 150px);

      .footer_item {
        h4 {
          font-size: 20px;
          line-height: 20px;
        }
        &:nth-of-type(4) {
          grid-column: 1/3;

          .app_link {
            a {
              img {
                width: 120px;
              }

              &:last-of-type {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
  .product_section .product_section_title h4 {
    font-size: 24px;
    line-height: 20px;
  }
  .product_section .product_section_title p {
    line-height: 22px;
  }
  .process_bg .process_container .process_body .process_item .item_container p{line-height: 20px;}
  .hero_decription_ p{
    font-size: 16px;
    line-height: 22px;
  }
}
@media only screen and (max-width:375px) {
  .hero_decription_ p {
    padding-top: 40px;
    padding-bottom: 40px;
}
  .about .hero_bg{
    padding-left: 20px;
    .about_hero_grid .hero_title{
      h4 {
        font-size: 22px;
        line-height: 24px;
      }
      p{
        font-size: 16px;
      }
    }
  }
  .mission_bg h4 {
    font-size: 22px;
    line-height: 22px;
}
  .process_bg .process_container .process_body {
    column-gap: 15px;
    .process_item .item_container{
      h4 {
        line-height: 22px;
        font-size: 16px;
      }
      p{
        font-size: 15px;
      }
    }
}
  .success_bg .sucess_container{
    .sucess_msg .content_{
      h2 {
        font-size: 20px;
        line-height: 20px;
    }
    .back_to_home{
      margin-top: 20px;
    }
    max-width: 280px;
    }
    .svg .svg_container {
      max-width: 260px;
  }
  }
  .product_section .product_lists {
    grid-template-columns: 1fr;
  }
  .how_it_works .steps_container .steps_item{
    .svg_container{
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      img ,svg{
        max-width: 280px;
    }
    }
    ._body {
      margin: 40px 10px;
    }
  }
  .app_container{
    .description{
      .download{font-size: 18px;}
    }
  }
}
.spin_loader {
  /* Spinner size and color */
  width: 1.5rem;
  height: 1.5rem;
  border-top-color: #444;
  border-left-color: #444;
  margin-left: 15px;

  /* Additional spinner styles */
  animation: spin_loader 400ms linear infinite;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;  
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

/* Animation styles */
@keyframes spin_loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.spin_loader-blue {
  border-top-color: #fff;
  border-left-color: #fff;
} 
/*form error */
.meathub_form_err{
  color:red;
  color:hsl(2, 60%, 50%);
  font-size: 14px;
}
